.express-nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  color: #8d8d8d;
  font-size: 30px;
}
.at-card__header {
  background-color: #D6F5FA;
}
.card{
  margin: 20px 24px;
}
.express-info{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D1F1E1;
  margin: 15px 20px;
}
.at-search-bar__action {
  background-color: #00C0DD;
}